include CHANGES.txt
include LICENSE.txt
include MANIFEST.in
include README.txt
recursive-include bin *
recursive-include docs *
recursive-include pyspeak *
recursive-include pyspeak/tests *
global-exclude *.pyc
global-exclude *.pyo
